* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0C7D69;
    background-color: #E0F1E7;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
    font-weight: 600;
}

canvas {
    border: 1px solid #0C7D69;
    cursor: crosshair;
    margin: 2rem auto;
    box-shadow: 5px 5px 15px #0C7D69;

}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2rem;
}

.toolbar input,
.toolbar select,
.toolbar button {
    padding: 0.5rem 0.8rem;
    margin: 0.4rem;
    border: 1px solid #0C7D69;
}

.toolbar input::placeholder {
    color: #0C7D69;
    font-size: 0.8rem;
    font-weight: 600;
}

#font-select {
    color: #0C7D69 !important;
    font-size: 0.8rem;
    font-weight: 600;
}

#color-picker {
    justify-content: center;
    padding: 0.5rem 0.8rem;
    margin: 0.4rem;
    margin-top: 0;
    border: 2px solid #0C7D69;
    cursor: pointer;
}

#add-text-btn,
#undo-btn,
#redo-btn {
    padding: 0.5rem 0.8rem;
    background-color: #0C7D69;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
}